@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&family=Inter:wght@500&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.purpleText{
    color: #7127BA;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #11071F;
    color: white;
    font-family: "Preahvihear", sans-serif;
    font-weight: 300;
    font-size: 16px;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15%;
    background-color: #1A0B2E;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

header a{
    text-decoration: none;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

main{
    width: 60%;
    margin: 100px auto;
}

.aboutMe > div{
    margin-bottom: 96px;
}

.aboutMe .helloPart{
    display: flex;
}

.aboutMe .helloPart .image {
    height: 300px;
    margin-top: 30px;
    margin-right: 10px;
}

.aboutMe .helloPart .texts p:first-child{
    margin-left: -15px;
    margin-bottom: 55px;
}

.aboutMe .helloPart .texts p:nth-child(2){
    text-decoration: underline;
    text-decoration-thickness: 0;
}

.aboutMe .helloPart .texts p:nth-child(3){
    margin-bottom: -10px;
    font-size: 40px;
    line-height: 60px;
}

.aboutMe .helloPart .texts p:nth-child(4){
    margin-top: 15px;
    font-size: 11px;
}

.aboutMe .helloPart .texts .circled{
    background-image: url(Media/Ellipse\ 5.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutMe .introductionPart{
    margin-left: 25px;
}

.aboutMe .introductionPart p:first-child{
    font-size: 40px;
}
.aboutMe .introductionPart p:nth-child(2){
    margin-bottom: 30px;
}

.aboutMe .introductionPart .facebookWord{
    color: #1877F2;
}

.aboutMe .experiencesPart{
    /* gradient bg */
    background-image: url(Media/Gradient.png);
    background-repeat: no-repeat;
    background-position: 35%;
    background-size: contain;
}

.aboutMe .experiencesPart p:first-child{
    font-size: 30px;
    margin-bottom: 50px;
}

.aboutMe .experiencesPart .experienceBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 17px;
}

.aboutMe .experiencesPart .experienceBoxes .experienceBox{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 30px 44px;
    background-color: #1A0B2E;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.aboutMe .experiencesPart .experienceBoxes .experienceBox .experienceTextArea .header{
    font-size: 20px;
    font-weight: 600;
}

.aboutMe .experiencesPart .experienceBoxes .experienceBox .experienceTextArea .text{
    font-size: 10px;
}

.aboutMe .experiencesPart .experienceBoxes .experienceBox .experienceTextArea .button{
    font-size: 10px;
    background-color: #2C1250;
    border: #693B93 2px solid;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    padding: 7px 15px;
    margin-top: 10px;
}

.aboutMe .intentionPart{
    text-align: center;
}

.aboutMe .intentionPart p:nth-child(2){
    font-size: 12px;
    margin-bottom: 20px;
}

.aboutMe .intentionPart .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.projects{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 150px;
}

.projects > div{
    margin-bottom: 200px;
    position: relative;
}

.projects .content{
    /* ????!!!!????!!!!????!!!!????!!!!????!!!! */
    width: 60%;
}

.projects .project1 .content p:nth-child(2){
    font-size: 30px;
    color: #CCD6F6;
    margin-bottom: 40px;
}

/* !!!blur efekti çalışmıyor!!! */
.projects .project1 .content .blurredContainer{
    background-image: url(Media/CardBackground.png);
    filter: blur(5px);
}

.projects .imageArea{
    background-color: #2B0B3A;
    display: inline-block;
    width: 450px;
    z-index: -1;
    /* to eliminate ekstra space at the end of div*/
    line-height: 0;
}

.projects .project1 .imageArea{
    position: absolute;
    right: 0;
    top: 0px;
    padding: 20px 0 0 20px;
    filter: blur(0.5px);
}

.projects .project2 .content{
    position: absolute;
    right: 0;
    top: 0px;
}

.projects .project2 p{
    text-align: right;
}

.projects .project2 .content p:nth-child(2){
    font-size: 30px;
    color: #CCD6F6;
    margin-bottom: 40px;
}

/* !!!blur efekti çalışmıyor!!! */
.projects .project2 .content .blurredContainer{
    background-image: url(Media/CardBackground.png);
    filter: blur(5px);
}

.projects .project2 .imageArea{
    position: relative;
    padding: 20px 20px 0 0;
}

.contact p:first-child{
    font-size: 25px;
    margin-bottom: 80px;
}

.contact p:nth-child(2){
    margin-bottom: 30px;
}

.contact .images img{
    margin: 30px 30px 30px 0;
}



/* !!RESPONSIVE!! */

/* Big Screen */
@media screen and (max-width: 960px) {
    main{
        font-size: 0.7em;
    }

    .aboutMe .helloPart .texts p:nth-child(3){
        margin-bottom: -10px;
        font-size: 30px;
        line-height: 40px;
    }

    .aboutMe .introductionPart p:first-child{
        font-size: 30px;
    }

    .aboutMe .experiencesPart .experienceBoxes{
        grid-template-columns: 1fr;
    }

    .projects .imageArea{
        width: 400px;
        opacity: 0.4;
    }
}

/* Mid Screen */
@media screen and (max-width: 750px) {
    main{
        width: 80%;
    }

    .aboutMe .helloPart .texts p:nth-child(3){
        font-size: 20px;
        line-height: 40px;
    }
    .aboutMe .introductionPart p:first-child{
        font-size: 20px;
    }
    .aboutMe .experiencesPart p:first-child{
        font-size: 20px;
    }

    .projects .project2 .content{
        width: 80%;
    }

    header{
        padding: 15px 15%;
    }

    header nav{
        width: 80%;
        margin-left: 100px;
    }
}

/* Small Screen */
@media screen and (max-width: 585px) {
    .aboutMe .helloPart{
        display: block;
        text-align: center;
    }

    .aboutMe .helloPart .texts p:first-child{
        text-align: center;
    }
    
    .aboutMe .introductionPart{
        margin-left: 0px;
        text-align: center;
    }
}
