@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&family=Inter:wght@500&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --headerFontSize: 38px;
    --textFontSize: 16px;
}

.purpleText{
    color: #7127BA;
}

.vector{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(Media/Gradient.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -2;
}
.arrowVector{
    position: absolute;
    top: -46px;
    left: 165px;
    background-image: url(Media/Arrow.png);
    background-size: contain;
    width: 100px;
    height: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #11071F;
    color: white;
    font-family: "Preahvihear", sans-serif;
    font-weight: 300;
    font-size: var(--textFontSize);
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15%;
    background-color: #1A0B2E;
}

header nav{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

header a{
    text-decoration: none;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
}

main{
    width: 60%;
    margin: 110px auto;
}

.aboutMe > div{
    margin-bottom: 130px;
}

.aboutMe .helloPart{
    display: flex;
}

.aboutMe .helloPart .image {
    height: 300px;
    margin-top: 30px;
    margin-right: 10px;
    position: relative;
}

.aboutMe .helloPart .image .vector {
    top: -10%;
    transform: scale(1.4, 1.4);
}

.aboutMe .helloPart .texts p:first-child{
    margin-left: -15px;
    margin-bottom: 55px;
}

.aboutMe .helloPart .texts p:nth-child(2){
    text-decoration: underline;
    text-decoration-thickness: 0;
}

.aboutMe .helloPart .texts p:nth-child(3){
    margin-bottom: -10px;
    font-size: var(--headerFontSize);
    line-height: 60px;
}

.aboutMe .helloPart .texts p:nth-child(4){
    margin-top: 15px;
    font-size: 11px;
}

.aboutMe .helloPart .texts .circled{
    background-image: url(Media/Ellipse\ 5.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutMe .introductionPart{
    margin-left: 25px;
}

.aboutMe .introductionPart p:first-child{
    font-size: var(--headerFontSize);
}
.aboutMe .introductionPart p:nth-child(2){
    margin-bottom: 30px;
}

.aboutMe .introductionPart .facebookWord{
    position: relative;
    color: #1877F2;
}

.aboutMe .experiencesPart{
    /* gradient bg */
    background-image: url(Media/Gradient.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.aboutMe .experiencesPart p:first-child{
    font-size: var(--headerFontSize);
    margin-bottom: 20px;
}

.aboutMe .experiencesPart .experienceBoxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 17px;
}

.aboutMe .experiencesPart .experienceBoxes .experienceBox{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 30px 44px;
    background: rgb(26,11,46);
    background: linear-gradient(153deg, rgba(26,11,46,1) 37%, rgba(44,18,80,1) 87%);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}

.aboutMe .experiencesPart .experienceBoxes .experienceBox .experienceTextArea .header{
    font-size: 20px;
    font-weight: 600;
}

.aboutMe .experiencesPart .experienceBoxes .experienceBox .experienceTextArea .text{
    font-size: 10px;
}

.aboutMe .experiencesPart .experienceBoxes .experienceBox .experienceTextArea .learnMoreButton{
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    background-color: #2C1250;
    color: white;
    border: #693B93 2px solid;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    padding: 7px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.aboutMe .intentionPart{
    text-align: center;
}

.aboutMe .intentionPart p:nth-child(2){
    font-size: 12px;
    margin-bottom: 20px;
}

.aboutMe .intentionPart .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.projects{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 150px;
}

.projects > div{
    margin-bottom: 250px;
    position: relative;
}

.projects .content{
    /* ????!!!!????!!!!????!!!!????!!!!????!!!! */
    width: 60%;
}

.projects .content p:nth-child(2){
    font-size: 30px;
    color: #CCD6F6;
    margin-bottom: 20px;
}

.projects .content .blurredBg{
    padding: 20px;
    background: rgba(0, 0, 0, 0.001);
    backdrop-filter: blur(100px);
    border-radius: 25px;
    z-index: -1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.projects .content .blurredBg .info{
    font-weight: 300;
    font-size: var(--textFontSize);
    color: #CCD6F6;
}

.projects .imageArea{
    background-color: #2B0B3A;
    display: inline-block;
    width: 450px;
    z-index: -1;

    /* to eliminate ekstra space at the end of div*/
    line-height: 0;
}

.projects .project1 .imageArea{
    position: absolute;
    right: 0;
    top: 0px;
    padding: 20px 0 0 20px;
    filter: blur(0.5px);
}

.projects .project1 .imageArea .vector{
    top: 0;
    left: -25%;
    transform: scale(2, 1.9);
}


.projects .project2 .content{
    position: absolute;
    right: 0;
    top: 0px;
}

.projects .project2 p{
    text-align: right;
}

.projects .project2 .imageArea{
    position: relative;
    padding: 20px 20px 0 0;
}

.projects .project2 .imageArea .vector{
    top: 0;
    left: -30%;
    transform: scale(2, 1.9);
}

.contact p:first-child{
    font-size: var(--headerFontSize);
    margin-bottom: 40px;
}

.contact p:nth-child(2){
    margin-bottom: 30px;
}

.contact .images img{
    margin: 30px 30px 30px 0;
}

/* !!RESPONSIVE!! */

/* Big Screen */
@media screen and (max-width: 960px) {
    :root{
        --headerFontSize: 30px;
        --textFontSize: 11px;
    }

    .aboutMe > div{
        margin-bottom: 65px;
    }

    .aboutMe .helloPart .texts p:nth-child(3){
        margin-bottom: -10px;
        line-height: 40px;
    }

    .aboutMe .experiencesPart .experienceBoxes{
        grid-template-columns: 1fr;
    }

    .projects .imageArea{
        width: 400px;
        opacity: 0.4;
    }
}

/* Mid Screen */
@media screen and (max-width: 750px) {
    :root{
        --headerFontSize: 20px;
    }

    main{
        width: 80%;
    }

    .aboutMe .helloPart .texts p:nth-child(3){
        line-height: 40px;
    }

    .projects .content{
        width: 80%;
    }

    header{
        padding: 15px 15%;
    }

    header nav{
        width: 80%;
        margin-left: 100px;
    }


    /* vector alignments */
    .projects .project1 .imageArea .vector{
        width: 50%;
        left: 0;
        top: -10%;
    }
    .projects .project2 .imageArea .vector{
        width: 50%;
        left: 0;
        top: -10%;
    }

    .aboutMe .helloPart .image .vector {
        top: -10%;
        transform: scale(1.2, 1.2);
    }
}

/* Small Screen */
@media screen and (max-width: 585px) {
    .aboutMe > div{
        margin-bottom: 100px;
    }

    .aboutMe .helloPart{
        display: block;
        text-align: center;
    }

    .aboutMe .helloPart p:first-child{
        position: absolute;
        top: 100px;
        
        /* to center hello sentence */
        left: 50%;
        transform: translate(-40%, 0);
        font-size: 20px;
    }
    
    .aboutMe .introductionPart{
        margin-left: 0px;
        text-align: center;
    }

    .arrowVector{
        left: 64%;
        top: -40px;
        transform: rotateY(180deg) rotateZ(-80deg);
    }
}
